<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.spectruminnovations.www.storyboard" >

    <!-- add permissions below this line -->
:
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- add permissions above this line -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page1"
            android:label="@string/title_activity_page1" >
        </activity>
        <activity
            android:name=".Page2"
            android:label="@string/title_activity_page2" >
        </activity>
        <activity
            android:name=".Page3"
            android:label="@string/title_activity_page3" >
        </activity>
        <activity
            android:name=".Page4"
            android:label="@string/title_activity_page4" >
        </activity>
        <activity
            android:name=".Page5"
            android:label="@string/title_activity_page5" >
        </activity>
    </application>

</manifest>
